<ng-container *ngIf="movieDetails?.poster_path"
  ><img src="{{ posterPath + movieDetails?.poster_path }}" alt=""
/></ng-container>
<ng-container *ngIf="movieDetails?.backdrop_path"
  ><img
    src="{{ backdropPath + movieDetails?.backdrop_path }}"
    height="141px"
    alt=""
/></ng-container>
<h1>{{ movieDetails?.title }}</h1>
<p *ngIf="movieDetails?.original_title">
  Tytuł oryginalny: {{ movieDetails?.original_title }}
</p>

<p>
  Ocena TMDB:
  {{
    movieDetails?.vote_average
      ? movieDetails?.vote_average +
        " (" +
        movieDetails?.vote_count +
        " głosów)"
      : "brak ocen"
  }}
</p>
<p *ngIf="imdbRating">
  Ocena IMDB:
  {{
    imdbRating ? imdbRating + " (" + imdbRatingCount + " głosów)" : "brak ocen"
  }}
</p>
<p>{{ movieDetails?.tagline }}</p>
<p>
  {{ movieDetails?.overview ? movieDetails?.overview : overviewEn }}
  <ng-container *ngIf="!movieDetails?.overview && overviewEn && buttonOn">
    <button (click)="translate()">Tłumacz opis</button>
  </ng-container>
</p>

<p>
  Czas trwania:
  {{ movieDetails?.runtime ? movieDetails?.runtime + " min." : "brak danych" }}
</p>
<ng-container *ngIf="certifications.length > 0"
  ><p>
    Ograniczenia wiekowe:
    <ng-container *ngFor="let certification of certifications; let last = last">
      <span *ngIf="!last"
        >{{ certification.country }}: {{ certification.certification }},
      </span>
      <span *ngIf="last"
        >{{ certification.country }}: {{ certification.certification }}</span
      ></ng-container
    >
  </p>
</ng-container>
<p>TMDB Id: {{ movieDetails?.id }}</p>
<p>
  IMDB Id:
  {{
    movieDetails?.external_ids?.imdb_id
      ? movieDetails?.external_ids?.imdb_id
      : "brak danych"
  }}
</p>

<ng-container *ngIf="movieDetails?.genres.length > 0"
  ><p>
    Gatunek:
    <ng-container *ngFor="let genre of movieDetails?.genres; let last = last">
      <span *ngIf="!last">{{ genre?.name }}, </span>
      <span *ngIf="last">{{ genre?.name }}</span></ng-container
    >
  </p>
</ng-container>

<ng-container *ngIf="movieDetails?.production_countries.length > 0">
  <p>
    Kraje:
    <ng-container
      *ngFor="
        let country of movieDetails?.production_countries;
        let last = last
      "
    >
      <span *ngIf="!last">{{ country?.name }}, </span>
      <span *ngIf="last">{{ country?.name }}.</span>
    </ng-container>
  </p>
</ng-container>

<ng-container *ngIf="screenwriters.length > 0">
  <p>
    Scenariusz:
    <ng-container *ngFor="let screenwriter of screenwriters; let last = last">
      <span *ngIf="!last">{{ screenwriter.name }}, </span>
      <span *ngIf="last">{{ screenwriter.name }}.</span>
    </ng-container>
  </p>
</ng-container>

<ng-container *ngIf="directors.length > 0">
  <p>
    Reżyseria:
    <ng-container *ngFor="let director of directors; let last = last">
      <span *ngIf="!last">{{ director.name }}, </span>
      <span *ngIf="last">{{ director.name }}.</span>
    </ng-container>
  </p>
</ng-container>

<p>
  Premiera:
  {{ movieDetails?.release_date ? movieDetails?.release_date : "brak danych" }}
</p>
<p>
  Rok:
  {{
    movieDetails?.release_date
      ? movieDetails?.release_date?.slice(0, 4)
      : "brak danych"
  }}
</p>
<p>Status: {{ movieDetails?.status ? movieDetails?.status : "brak danych" }}</p>

<ng-container *ngIf="movieDetails?.production_companies.length > 0">
  <p>
    Studia filmowe:
    <ng-container
      *ngFor="
        let company of movieDetails?.production_companies;
        let last = last
      "
    >
      <span *ngIf="!last">{{ company?.name }}, </span>
      <span *ngIf="last">{{ company?.name }}.</span>
    </ng-container>
  </p>
</ng-container>
<ng-container *ngIf="actors.length > 0">
  <p>Wystąpili m.in.:</p>
  <ng-container *ngFor="let actor of actors">
    <article>
      <ng-container *ngIf="actor.profile_path"
        ><img src="{{ posterPath + actor.profile_path }}" alt=""
      /></ng-container>
      <p>{{ actor.name }}</p>
      <p>jako: {{ actor.character }}</p>
    </article>
  </ng-container>
</ng-container>
<ng-container *ngIf="movieDetails?.belongs_to_collection?.poster_path">
  <p>Kolekcja: {{ movieDetails?.belongs_to_collection?.name }}</p>

  <img
    src="{{ posterPath + movieDetails?.belongs_to_collection.poster_path }}"
    alt=""
  />
  <img
    src="{{ backdropPath + movieDetails?.belongs_to_collection.backdrop_path }}"
    height="141px"
    alt=""
  />
</ng-container>
<a href="{{ movieDetails?.homepage }}" target="_blank"
  ><p>{{ movieDetails?.homepage }}</p></a
>
<section class="kodi-nfo">
  <h2>--- KODI NFO Maker ---</h2>
  <button (click)="showKodiNfo()">Wygeneruj plik do Kodi</button>
  <p *ngIf="kodiNfo">{{ kodiNfo }}</p>
</section>

<button (click)="goToResults()">Cofnij do listy wyszukiwania</button>
