<section class="credits">
  <div class="credits__title-container">
    <h1 class="credits__title mat-h1 custom">
      {{ details?.title ? details?.title : details?.name }}
    </h1>
    <p class="credits__page-name mat-h4 custom">Obsada</p>
  </div>

  <ul class="credits__list">
    <li *ngFor="let item of actors; let i = index" class="credits__list__item">
      <a [routerLink]="['/person', item.id]">
        <article class="credits__article">
          <figure class="credits__article__photo">
            <img
              src="{{
                item.profile_path
                  ? photoPath + item.profile_path
                  : defaultPhotoPath
              }}"
              alt="Photo of {{ item.name }}"
            />
          </figure>

          <section class="credits__article__details">
            <p class="credits__article__details__name mat-body custom">
              {{
                item.name.length < 20
                  ? item.name
                  : item.name.slice(0, 16) + " ..."
              }}
            </p>

            <p
              class="credits__article__details__character mat-body custom mat-caption"
              *ngIf="item.character"
            >
              {{
                item.character.length < 35
                  ? item.character
                  : item.character.slice(0, 31) + " ..."
              }}
            </p>
          </section>
        </article>
      </a>
    </li>
  </ul>

  <button
    mat-mini-fab
    class="video-details__btn--back"
    color="primary"
    type="button"
    (click)="goBack()"
    aria-label="go back"
  >
    <mat-icon>arrow_back</mat-icon>
  </button>
</section>
