<mat-dialog-content>
  <textarea
    class="video-details__kodi-nfo__dialog__textarea"
    cdkTextareaAutosize
    [value]="data.contentKodiNfo"
    readonly
    wrap
  ></textarea>
</mat-dialog-content>
<mat-dialog-actions>
  <button
    mat-icon-button
    color="primary"
    [cdkCopyToClipboard]="data.contentKodiNfo"
    [mat-dialog-close]="true"
    cdkFocusInitial
  >
    <mat-icon>content_copy</mat-icon>
  </button>
  <button mat-icon-button mat-dialog-close>
    <mat-icon>close</mat-icon>
  </button>
</mat-dialog-actions>
