@import "src/variables";
@import "src/mixins";

.dialog__content__main {
  & h2.mat-body.custom {
    padding-bottom: 5px;

    margin: 10px 0 20px 0;
    border-bottom: 1px solid $inactive-gray;
  }

  & li {
    margin-bottom: 10px;
    display: flex;

    p.mat-body.custom {
      padding-top: 9px;
    }
  }

  & .certificate {
    min-width: 65px;
    height: 35px;
    margin: 0 10px 0 0;
    border: 1px solid $main-color;
    border-radius: 50%;
    background-color: $main-color;
    color: #fff;
    text-align: center;
    font-size: 1.2em;
    line-height: 33px;
    margin-right: 10px;
  }
}
