@import "src/variables";
@import "src/mixins";

.photo-panel {
  width: 100%;
  margin-bottom: 16px;

  &__list {
    display: flex;
    justify-content: flex-start;
    overflow-x: scroll;

    //scrollbar start
    &::-webkit-scrollbar {
      height: 5px;

      &-thumb {
        background: #ddd;
        border-radius: 5px;

        &:hover {
          background: $main-color;
        }
      }

      &-track {
        background: rgba(255, 255, 255, 0);
        border-radius: 5px;
        box-shadow: inset 7px 10px 12px rgba(255, 255, 255, 0);
      }
    }

    scrollbar-color: #ddd rgba(255, 255, 255, 0);
    scrollbar-width: thin;

    &:hover {
      &::-webkit-scrollbar {
        &-thumb {
          background: $main-color;
        }
      }
      scrollbar-color: $main-color rgba(255, 255, 255, 0);
    }
    //scrollbar end

    &__item {
      margin: 0 10px 10px 0;
      &:hover {
        .photo-panel__article__photo {
          box-shadow: 0 5px 0 0 $main-color;
        }
      }

      &--last {
        margin: 0 0 10px 0;
      }
    }
  }

  &__article {
    // width: 94px;
    height: 100%;

    &__btn--enlarge {
      padding: 0;
      margin: 0;
      border: none;
      background-color: rgba(255, 255, 255, 0);

      &:focus > img {
        filter: brightness(3);
      }
    }

    &__photo {
      // width: 94px;
      // height: 141px;
      padding: 0;
      border-radius: 5px;
      overflow: hidden;
      transition: 0.2s;

      img {
        // height: 141px;
        font-size: 12px;
        transition: 0.2s;
      }
    }

    &--last {
      width: 65px;
      padding: 0 0 0 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;

      button {
        border: 1px solid $main-color;
        border-radius: 50%;
        transition: 0.2s;

        &:hover {
          color: white;
          background-color: $main-color;
        }
      }
    }
  }
}
