@import "src/variables";
@import "src/mixins";

.search-bar {
  max-width: 1200px;
  margin: 0 auto;

  display: flex;
  justify-content: center;

  overflow: hidden;

  &__searcher {
    margin-top: 20px;
    padding: 0 10px 0 10px;

    flex-grow: 1;
    order: 1;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    &__query,
    &__year {
      margin: 0;
      margin-right: 15px;
    }

    &__query {
      flex-grow: 1;
    }

    &__year {
      width: 90px;
    }
  }

  &__search-nav {
    max-width: 300px;
    margin-left: 10px;

    flex-grow: 1;
    order: 0;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    &__movies,
    &__shows {
      padding: 18px 15px 2px 0;

      flex-grow: 1;

      color: $inactive-gray;
      font-size: 16px;
      line-height: 170%;
      text-align: left;
      text-decoration: none;

      &:visited {
        text-decoration: none;
      }

      span {
        padding: 5px 10px;
        margin-left: 5px;
        background-color: $inactive-gray;
        border-radius: 5px;
        color: #fff;
        font-size: 0.8em;
        transition: 0.2s;
      }

      &:hover {
        span {
          padding: 10px 10px;
        }
      }

      &.active {
        color: $main-color;
        span {
          background-color: $main-color;
        }
      }
    }

    &__movies {
      span {
        margin-left: 15px;
      }
    }
  }
}
.no-results {
  width: 100%;
  padding: 30px 10px 0;
  margin: 20px auto;
  color: $main-color;

  font-size: 18px;
  text-align: center;
  line-height: 150%;

  mat-icon {
    font-size: 36px;
  }
  em {
    font-style: italic;
  }
}

@media (max-width: 768px) {
  .search-bar {
    &__searcher {
      justify-content: flex-end;

      &__query {
        margin-right: 0;
      }

      &__year {
        margin: 0;
        margin-right: 15px;
        margin-left: 15px;
      }
    }

    &__search-nav {
      margin-right: 10px;
      &__movies,
      &__shows {
        padding: 18px 0 2px 0;
      }

      &__movies {
        margin-right: 10px;
      }
    }
  }
}

@media (max-width: 533px) {
  .search-bar {
    &__searcher {
      margin-top: 10px;
    }
  }
}

@media (max-width: 390px) {
  .search-bar {
    flex-wrap: wrap;
    justify-content: center;
    &__searcher {
      order: 0;

      &__query {
        margin-right: 0;
      }

      &__year {
        margin: 0;
        margin-right: 15px;
        margin-left: 15px;
      }
    }
    &__search-nav {
      padding-right: 16px;
      flex-grow: 1;
      order: 1;

      &__movies,
      &__shows {
        margin-bottom: 5px;
        text-align: center;
      }
    }
  }
}
