<nav class="search-bar">
  <form class="search-bar__searcher" (ngSubmit)="search()" #form="ngForm">
    <mat-form-field class="search-bar__searcher__query">
      <mat-label>Szukaj filmu lub serialu</mat-label>
      <input
        matInput
        class="search-bar__searcher__query__input"
        #searcherInput
        type="search"
        name="input-query"
        [(ngModel)]="query"
        autofocus
        required
      />
      <button
        *ngIf="query"
        mat-button
        class="search-bar__searcher__query__cancel-btn"
        type="button"
        matSuffix
        mat-icon-button
        aria-label="Clear"
        (mousedown)="cancelQuery()"
        (touchstart)="cancelQuery()"
      >
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <div>
      <mat-form-field class="search-bar__searcher__year">
        <mat-label>Rok premiery</mat-label>
        <input
          matInput
          class="search-bar__searcher__year__input"
          #searcherYear
          type="text"
          min="4"
          max="4"
          maxlength="4"
          name="input-year"
          [(ngModel)]="year"
        />
        <mat-hint align="end">{{ searcherYear.value.length }} / 4</mat-hint>
        <button
          *ngIf="year"
          mat-button
          class="search-bar__searcher__year__cancel-btn"
          type="button"
          matSuffix
          mat-icon-button
          aria-label="Clear"
          (mousedown)="cancelYear()"
          (touchstart)="cancelYear()"
        >
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
      <button
        mat-mini-fab
        color="primary"
        class="search-bar__searcher__submit-btn"
        type="submit"
        [disabled]="form.invalid"
        [ngStyle]="{ 'margin-left': '10px' }"
      >
        <mat-icon>search</mat-icon>
      </button>
    </div>
  </form>
  <nav class="search-bar__search-nav" *ngIf="numberOfMovies || numberOfShows">
    <a
      class="search-bar__search-nav__movies"
      [routerLink]="['/results-movies', query, '1', year]"
      [ngClass]="{ active: isMovie }"
      >Filmy <span>{{ numberOfMovies }}</span></a
    >
    <a
      class="search-bar__search-nav__shows"
      [routerLink]="['/results-shows', query, '1', year]"
      [ngClass]="{ active: !isMovie }"
      >Seriale <span>{{ numberOfShows }}</span></a
    >
  </nav>
</nav>
<section class="no-results" *ngIf="numberOfMovies === 0 && numberOfShows === 0">
  <p>
    Motyla noga ! Nie mamy w bazie ani filmów ani seriali, które odpowiadałyby
    poszukiwanej frazie <em>{{ query }}</em>
  </p>
  <p><mat-icon>sentiment_dissatisfied</mat-icon></p>
</section>
