<nav class="search-bar">
  <form class="search-bar__searcher" (ngSubmit)="search()" #form="ngForm">
    <div class="search-bar__searcher__query">
      <label for="inputQuery" [ngClass]="{ active: query }"
        >szukany tytuł</label
      >
      <input
        class="search-bar__searcher__query__input"
        #searcherInput
        type="search"
        name="inputQuery"
        id="inputQuery"
        placeholder="szukaj filmu lub serialu"
        aria-label="enter a title"
        [(ngModel)]="query"
        (input)="deleteNumberOfResults()"
        autofocus
        required
      />
      <button
        *ngIf="query"
        mat-icon-button
        class="search-bar__searcher__query__cancel-btn"
        type="reset"
        aria-label="clear query input content"
        (mousedown)="cancelQuery()"
        (touchstart)="cancelQuery()"
      >
        <mat-icon>close</mat-icon>
      </button>
    </div>

    <div class="search-bar__searcher__year-container">
      <div class="search-bar__searcher__year">
        <label
          for="inputYear"
          [ngClass]="{ active: year, red: !yearIsValid() }"
          >{{ yearInputLabel }}</label
        >
        <input
          class="search-bar__searcher__year__input"
          #searcherYear
          type="search"
          minlength="4"
          maxlength="4"
          name="inputYear"
          id="inputYear"
          placeholder="rok premiery"
          aria-label="enter a release date"
          [(ngModel)]="year"
          (input)="deleteNumberOfResults()"
        />
        <button
          *ngIf="year"
          mat-icon-button
          class="search-bar__searcher__year__cancel-btn"
          type="reset"
          aria-label="clear year input content"
          (mousedown)="cancelYear()"
          (touchstart)="cancelYear()"
        >
          <mat-icon>close</mat-icon>
        </button>
      </div>
      <button
        mat-mini-fab
        color="primary"
        class="search-bar__searcher__submit-btn"
        type="submit"
        aria-label="search"
        [disabled]="form.invalid"
        [ngStyle]="{ 'margin-left': '10px' }"
        aria-label="search"
      >
        <mat-icon>search</mat-icon>
      </button>
    </div>
  </form>
  <nav class="search-bar__search-nav" *ngIf="numberOfMovies || numberOfShows">
    <a
      class="search-bar__search-nav__movies"
      [routerLink]="['/results-movies', query, '1', year]"
      [ngClass]="{ active: (data.isItMovie | async) }"
      (click)="data.isMovie = true"
      >Filmy <span>{{ numberOfMovies }}</span></a
    >
    <a
      class="search-bar__search-nav__shows"
      [routerLink]="['/results-shows', query, '1', year]"
      [ngClass]="{ active: !(data.isItMovie | async) }"
      (click)="data.isMovie = false"
      >Seriale <span>{{ numberOfShows }}</span></a
    >
  </nav>
</nav>
<section class="no-results" *ngIf="numberOfMovies === 0 && numberOfShows === 0">
  <p>
    Motyla noga ! Nie mamy w bazie ani filmów ani seriali, które odpowiadałyby
    poszukiwanej frazie ...
  </p>
  <p><mat-icon>sentiment_dissatisfied</mat-icon></p>
</section>
