.result-link {
  width: 150px;
  height: 100%;
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  text-align: center;
  border-bottom: 1px solid #ddd;

  &__img {
    height: 225px;
    flex-shrink: 0;
  }

  &__details {
    height: 100%;
    padding: 10px 2px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__title {
    padding-bottom: 10px;
    font-size: 15px;
  }
  &__original-title {
    padding-bottom: 5px;
    margin: 0;
    color: #888;
    font-size: 12px;
  }
  &__date {
    margin: 0;
  }
}
