@import "src/reset";
@import "src/variables";
@import "src/mixins";

.result-link {
  width: $poster-width;
  height: 100%;
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  text-align: center;
  border-radius: 5px;
  @include main-box-shadow;
  transition: 0.3s;

  &__img {
    height: $poster-height;
    flex-shrink: 0;

    img {
      width: $poster-width;
    }
  }

  &__details {
    height: 100%;
    padding: 12px 4px 0 4px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
    transition: 0.3s;

    &__title,
    &__date {
      font-size: 14px;
      transition: 0.3s;
    }
    &__original-title {
      color: $inactive-gray;
      font-size: 12px;
      transition: 0.3s;
    }
  }
}

@media (max-width: 320px), (max-height: 360px) {
  .result-link {
    width: $poster-width-320;

    &__img {
      height: $poster-height-320;
      flex-shrink: 0;

      img {
        width: $poster-width-320;
      }
    }
  }
}
