@import "src/variables";
@import "src/mixins";

.result-link {
  width: $poster-width;
  height: 100%;
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  text-align: center;
  border-radius: 5px;
  @include main-box-shadow();
  transition: 0.3s;

  &__img {
    height: $poster-height;
    flex-shrink: 0;

    img {
      width: $poster-width;
      font-size: 12px;
    }
  }

  &__details {
    height: 100%;
    padding: 15px 5px 0 5px;
    display: grid;
    grid-template-rows: 65px 50px 20px;
    place-items: center;
    background-color: #fff;
    transition: 0.3s;

    &__title,
    &__date {
      font-size: 14px;
      transition: 0.3s;
    }
    &__original-title {
      color: $note-gray;
      font-size: 12px;
      transition: 0.3s;
    }
  }
}

@media (max-width: 320px) {
  .result-link {
    width: $poster-width-130;

    &__img {
      height: $poster-height-130;
      flex-shrink: 0;

      img {
        width: $poster-width-130;
      }
    }
  }
}
