@import "src/variables";
@import "src/mixins";

.home {
  max-width: 1200px;
  padding: 0 10px;
  margin: 0 auto;

  &__movies,
  &__shows {
    min-height: 400px;
    margin: 20px 0;
  }

  &__movie-list,
  &__show-list {
    padding-left: 5px;
    display: flex;
    justify-content: flex-start;
    overflow-x: scroll;

    //scrollbar start
    &::-webkit-scrollbar {
      height: 5px;

      &-thumb {
        background: #ddd;
        border-radius: 5px;

        &:hover {
          background: $main-color;
        }
      }

      &-track {
        background: rgba(255, 255, 255, 0);
        border-radius: 5px;
        box-shadow: inset 7px 10px 12px rgba(255, 255, 255, 0);
      }
    }

    scrollbar-color: #ddd rgba(255, 255, 255, 0);
    scrollbar-width: thin;

    &:hover,
    &:focus-within {
      &::-webkit-scrollbar {
        &-thumb {
          background: $main-color;
        }
      }
      scrollbar-color: $main-color rgba(255, 255, 255, 0);
    }
    //scrollbar end

    &__header {
      color: $main-color;
      text-align: center;
    }

    &__item {
      padding: 5px 10px 10px 0;
      flex-shrink: 0;

      &:hover {
        .result-link {
          &__details {
            background-color: #3f51b5;
            &__title,
            &__date {
              color: #fff;
            }
          }
        }
      }

      a {
        color: #000;
        text-decoration: none;

        &:visited {
          text-decoration: none;
        }

        &:focus-within {
          .result-link {
            &__details {
              background-color: #3f51b5;
              &__title,
              &__date {
                color: #fff;
              }
            }
          }
        }
      }
    }
  }
}
