@import "src/reset";
@import "src/variables";
@import "src/mixins";

.home {
  max-width: 1200px;
  padding: 20px 10px;
  margin: 0 auto;

  &__movies,
  &__shows {
    margin: 20px 0;
  }

  &__movie-list,
  &__show-list {
    display: flex;
    justify-content: flex-start;
    overflow-x: scroll;

    &::-webkit-scrollbar {
      height: 7px;

      &-thumb {
        background: #ddd;
        border-radius: 5px;

        &:hover {
          background: $main-color;
        }
      }

      &-track {
        background: fff;
        border-radius: 5px;
        box-shadow: inset 7px 10px 12px #eee;
      }
    }

    &__header {
      text-align: center;
    }

    &__item {
      padding: 10px;
      flex-shrink: 0;

      &:hover {
        .result-link {
          @include hover-box-shadow;
          &__details {
            background-color: #3f51b5;
            &__title,
            &__date {
              color: #fff;
            }
          }
        }
      }

      a {
        color: #000;
        text-decoration: none;

        &:visited {
          text-decoration: none;
        }
      }
    }
  }
}
