<article class="info">
  <section class="info__sources">
    <h1>Filmoteka wykorzystuje:</h1>
    <h2>Źródła danych</h2>
    <ul>
      <li>The Movie Database API</li>
      <li>The Open Movie Database API</li>
      <li>Google Cloud Translation API</li>
    </ul>

    <h2>Źródła grafik</h2>
    <ul>
      <li>
        <a
          href="https://www.themoviedb.org/"
          rel="noopener"
          target="_blank"
          matTooltip="otwiera https://www.themoviedb.org w nowym oknie"
          aria-label="open the link in a new window"
          >The Movie Database</a
        >
      </li>
      <li>
        <a
          href="https://www.freepik.com/photos/space"
          rel="noopener"
          target="_blank"
          matTooltip="otwiera https://www.freepik.com/photos/space w nowym oknie"
          aria-label="open the link in a new window"
          >Freepik</a
        >
      </li>
      <li>
        <a
          href="https://pixabay.com/"
          rel="noopener"
          target="_blank"
          matTooltip="otwiera https://pixabay.com w nowym oknie"
          aria-label="open the link in a new window"
          >Pixabay</a
        >
      </li>
    </ul>
  </section>
  <section class="info__contact">
    <h1>Kontakt:</h1>
    <p>
      <a
        href="mailto: pewube@pewube.eu"
        matTooltip="otwiera domyślny program e-mail"
        >pewube@pewube.eu</a
      >
    </p>
  </section>
</article>
