<article class="info">
  <section class="info__sources">
    <h1>Filmoteka wykorzystuje:</h1>
    <h2>Źródła danych</h2>
    <ul>
      <li>The Movie Database API</li>
      <li>The Open Movie Database API</li>
      <li>Google Cloud Translation API</li>
    </ul>

    <h2>Źródła grafik</h2>
    <ul>
      <li>The Movie Database</li>
      <li>Freepik</li>
      <li>Pixabay</li>
    </ul>
  </section>
  <section class="info__attribution">
    <h1>Atrybucje:</h1>
    <p>
      <a
        href="https://www.freepik.com/photos/space"
        rel="noopener"
        target="_blank"
        matTooltip="otwiera link w nowym oknie"
        aria-label="open the link in a new window"
        >Space photo created by freepik - www.freepik.com</a
      >
    </p>
    <p>
      Obraz
      <a
        href="https://pixabay.com/pl/users/openclipart-vectors-30363/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=155602"
        rel="noopener"
        target="_blank"
        matTooltip="otwiera link w nowym oknie"
        aria-label="open the link in a new window"
      >
        OpenClipart-Vectors</a
      >
      z
      <a
        href="https://pixabay.com/pl/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=155602"
        rel="noopener"
        target="_blank"
        matTooltip="otwiera link w nowym oknie"
        aria-label="open the link in a new window"
      >
        Pixabay</a
      >
    </p>
    <p>
      Obraz
      <a
        href="https://pixabay.com/pl/users/sentraldigital-801626/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=1330014"
        rel="noopener"
        target="_blank"
        matTooltip="otwiera link w nowym oknie"
        aria-label="open the link in a new window"
      >
        Leonardo Alvarado</a
      >
      z
      <a
        href="https://pixabay.com/pl/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=1330014"
      >
        Pixabay</a
      >
    </p>
  </section>
  <section class="info__contact">
    <h1>Kontakt:</h1>
    <p><a href="mailto: pewube@pewube.eu">pewube@pewube.eu</a></p>
  </section>
</article>
