<section class="person-panel" *ngIf="sourceArray.length > 0">
  <p class="person-panel__header mat-body custom">
    <span class="gray mat-body">{{ title }}</span>
  </p>
  <ul class="person-panel__list" #list>
    <li class="person-panel__list__item" *ngFor="let item of sourceArray">
      <a [routerLink]="[routeUrl, item.id]">
        <article class="person-panel__article" [ngStyle]="setWidth()">
          <figure
            class="person-panel__article__photo"
            [ngStyle]="setWidthAndHeight()"
          >
            <img
              src="{{
                item.profile_path
                  ? photoPath + item.profile_path
                  : defaultPhotoPath
              }}"
              alt="Photo of {{ item.name }}"
              [ngStyle]="setHeight()"
            />
          </figure>

          <section class="person-panel__article__details">
            <p class="person-panel__article__details__name mat-body custom">
              {{ item.name }}
            </p>

            <p
              class="person-panel__article__details__character mat-body custom mat-caption"
              *ngIf="item.character"
            >
              jako {{ item.character }}
            </p>
          </section>
        </article>
      </a>
    </li>
  </ul>
</section>
