@import "src/variables";
@import "src/mixins";

.person-panel {
  width: 100%;
  margin-bottom: 16px;

  &__list {
    display: flex;
    justify-content: flex-start;
    overflow-x: scroll;

    @include scrollbar();

    &__item {
      margin: 0 10px 5px 0;

      a {
        color: #000;
        text-decoration: none;
        transition: 0.2s;

        &:visited {
          text-decoration: none;
        }

        &:hover,
        &:focus-within {
          .person-panel__article__photo {
            box-shadow: 0 5px 0 0 $main-color;
          }
        }
      }

      &--last {
        margin: 0 0 5px 0;
      }
    }
  }

  &__article {
    // width: 94px;
    height: 100%;

    display: flex;
    flex-direction: column;
    overflow: hidden;

    border-radius: 5px;

    &__photo {
      // width: 94px;
      // height: 141px;
      padding: 0;
      margin: 0 0 10px 0;
      overflow: hidden;
      border-radius: 5px;
      transition: 0.2s;

      img {
        // height: 141px;
        font-size: 12px;
      }
    }

    &__details {
      padding: 0 4px 0 2px;
      display: grid;
      grid-template-rows: 45px 35px;
      place-items: start;

      &__character {
        color: $note-gray;
        line-height: 130%;
      }
    }

    &--last {
      width: 65px;
      padding: 0 0 0 20px;
      justify-content: center;
      align-items: flex-end;

      button {
        border: 1px solid $main-color;
        border-radius: 50%;
        transition: 0.2s;

        &:hover {
          color: white;
          background-color: $main-color;
        }
      }
    }
  }
}
