@import "src/variables";
@import "src/mixins";

.dialog {
  width: 100%;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;

  z-index: 10;

  animation: bg-on 0.3s linear 1 both, content-on 0.4s 0.2s linear 1 both;

  &.closed {
    animation: bg-off 0.3s linear 1 both;
    .dialog__content__main {
      visibility: hidden;
    }
  }

  overflow: hidden;

  &__btn--bg {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    border: none;
    background-color: rgba(255, 255, 255, 0);
  }

  &__content {
    width: 0;
    height: 0;
    padding: 0;
    overflow: hidden;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 11;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    border-radius: 5px;
    background-color: #fff;

    transition: 0.3s;

    &.active {
      padding: 15px 20px;
    }

    &__header {
      width: 100%;
      padding: 5px;
    }
    &__main {
      width: 100%;
      padding: 5px;
      overflow: auto;

      @include scrollbar();
    }

    &__footer {
      width: 100%;
      padding: 10px 5px 0 5px;
      text-align: right;
    }

    &__btn {
      margin-left: 10px;
    }
  }
}

@keyframes bg-on {
  0% {
    background-color: rgba(0, 0, 0, 0);
  }

  100% {
    background-color: rgba(0, 0, 0, 0.7);
  }
}
@keyframes bg-off {
  0% {
    background-color: rgba(0, 0, 0, 0.7);
  }

  100% {
    background-color: rgba(0, 0, 0, 0);
  }
}

@keyframes content-on {
  0% {
    color: rgba(0, 0, 0, 0);
  }

  100% {
    color: rgba(0, 0, 0, 1);
  }
}
