.header {
  max-width: 1200px;
  margin: 0 auto;

  &__toolbar {
    display: flex;
    justify-content: space-between;
    box-shadow: 0 2px 5px 0 #ddd;

    a {
      margin-left: 5px;
      color: #fff;
      text-decoration: none;
    }
  }
}
