.toolbar {
  height: 70px;
  justify-content: space-between;
}

.searcher {
  min-width: 150px;

  mat-form-field {
    font-size: 14px;
  }

  &__input {
    font-size: 14px;
  }

  &__btn {
    margin: 0 10px;
  }

  mat-tab-group {
    margin-bottom: 48px;
  }
}
