<div class="wrapper" [ngStyle]="setBackgroundStyle()">
  <header class="header">
    <mat-toolbar class="header__toolbar" color="primary">
      <a class="toolbar__top-logo" (click)="reset()" routerLink="/"
        ><span>Filmy</span></a
      >
    </mat-toolbar>
  </header>
  <app-search-bar
    [initQuery]="initQuery"
    [initYear]="initYear"
    [initResultsMovies]="initResultsMovies"
    [initResultsShows]="initResultsShows"
  ></app-search-bar>
  <router-outlet class="router-outlet"></router-outlet>
  <app-footer></app-footer>
</div>
