@import "src/reset";
@import "src/variables";
@import "src/mixins";

.background-generator {
  width: 100vw;
  height: 100vh;

  position: fixed;
  left: 0;
  top: 0;
  z-index: -10;

  object-fit: cover;
  opacity: 0.2;
}
.wrapper {
  min-height: 100vh;
  position: relative;
  padding-bottom: 80px;

  .header {
    max-width: 1200px;
    height: 64px;
    padding: 0 5px;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;

    border-radius: 0 0 5px 5px;
    background-color: $main-color;
    @include main-box-shadow();

    &__top-logo {
      height: 100%;
      display: flex;

      a {
        text-decoration: none;

        img {
          height: 80px;
        }

        p {
          padding-top: 30px;
          color: #f9f3d4;
          font-size: 24px;
        }
      }
    }

    &__btn-info {
      width: 40px;
      height: 40px;
      padding-top: 20px;
      margin-right: 5px;
      border: none;
      background-color: transparent;

      p {
        width: 25px;
        height: 25px;
        margin-top: 4px;
        margin-left: 1px;
        border: 2px solid #f9f3d4;
        border-radius: 50%;
        border-radius: 50%;
        color: #f9f3d4;
        line-height: 21px;
      }
    }
  }
}

.btn-up.mat-mini-fab {
  position: fixed;
  right: 10px;
  bottom: 110px;
  opacity: 0;
  transition: 0.5s;
  &.active {
    opacity: 1;
  }
}

@media (max-width: 599px) {
  .wrapper {
    .header {
      height: 56px;
      &__top-logo {
        a {
          img {
            height: 60px;
          }

          p {
            padding-top: 23px;
          }
        }
      }

      &__btn-info {
        padding-top: 14px;
        margin-right: 4px;
      }
    }
  }
}
