<img
  class="background-generator"
  [src]="setBackgroundSrc()"
  alt="background image"
/>
<div class="wrapper">
  <header class="header">
    <figure class="header__top-logo">
      <a (click)="reset()" routerLink="/home" aria-label="home page">
        <img src="assets/img/logo-header.svg" alt="filmoteka logo" />
      </a>
      <a (click)="reset()" routerLink="/home" aria-label="home page">
        <p>Filmoteka</p>
      </a>
    </figure>
  </header>
  <app-search-bar [isReset]="isReset"></app-search-bar>
  <router-outlet class="router-outlet"></router-outlet>
  <app-footer></app-footer>
</div>
<button
  class="btn-up"
  [ngClass]="{ active: btnUp }"
  mat-mini-fab
  color="primary"
  aria-label="go up"
  (click)="goUp()"
>
  <mat-icon>vertical_align_top</mat-icon>
</button>
<app-spinner [ngClass]="{ hidden: !(spinner.isLoading | async) }"></app-spinner>
