<header>
  <mat-toolbar class="toolbar" color="primary">
    <span>Filmy</span>

    <form class="searcher" (ngSubmit)="showResults()" #form="ngForm">
      <mat-form-field>
        <input
          matInput
          class="searcher__input"
          type="text"
          name="input"
          [(ngModel)]="query"
          placeholder="szukaj filmu lub serialu"
          required
        />
      </mat-form-field>
      <button
        mat-flat-button
        color="warn"
        class="searcher__btn"
        type="submit"
        [disabled]="form.invalid"
      >
        Szukaj
      </button>
    </form>
  </mat-toolbar>
  <mat-tab-group mat-align-tabs="center">
    <mat-tab label="Filmy">Filmy: </mat-tab>
    <mat-tab label="Seriale">Seriale: </mat-tab>
  </mat-tab-group>
</header>

<router-outlet class="router-outlet"></router-outlet>
<app-footer></app-footer>
