<article class="full-pic" [ngClass]="{ closed: isOff }">
  <button class="full-pic__btn--bg" (click)="close()"></button>
  <img
    class="full-pic__large-picture"
    [ngClass]="{ active: isOn && !(spinner.isLoading | async) }"
    src="{{ path }}"
    alt="Powiększenie {{ title }}"
    (load)="spinner.loading = false"
  />
  <button
    class="full-pic__btn--close"
    [ngClass]="{ active: isOn }"
    mat-icon-button
    (click)="close()"
  >
    <mat-icon>close</mat-icon>
  </button>
</article>
