.dialog {
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;

  z-index: 10;

  animation: bgc-on 0.3s linear 1 both;

  &.closed {
    animation: bgc-off 0.3s linear 1 both;
  }

  &__btn--bg {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    border: none;
    background-color: rgba(255, 255, 255, 0);
  }

  &__large-picture {
    max-width: 0;
    max-height: 0;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 11;

    object-fit: contain;
    border-radius: 5px;

    transition: 0.2s;

    &.active {
      max-width: 95vw;
      max-height: 95vh;
    }
  }

  &__btn--close {
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.5);

    position: absolute;
    left: 50%;
    top: 3%;
    transform: translateX(-50%);
    z-index: 12;

    opacity: 0;
    transition: 0.2s;

    &.active {
      opacity: 1;
    }
  }
}

@keyframes bgc-on {
  0% {
    background-color: rgba(0, 0, 0, 0);
  }

  100% {
    background-color: rgba(0, 0, 0, 0.7);
  }
}
@keyframes bgc-off {
  0% {
    background-color: rgba(0, 0, 0, 0.7);
  }

  100% {
    background-color: rgba(0, 0, 0, 0);
  }
}
