@import "src/variables";
@import "src/mixins";

.video-details {
  max-width: 1200px;
  padding: 20px 0;
  margin: 0 auto;

  display: flex;

  &__header {
    flex-basis: 260px;
    padding: 20px;
    margin-bottom: 20px;

    &__poster {
      width: $poster-width-220;
      height: $poster-height-220;
      margin-bottom: 10px;

      &__btn--enlarge {
        padding: 0;
        margin: 0;
        border: none;
        background-color: rgba(255, 255, 255, 0);
      }

      img {
        width: $poster-width-220;
        border-radius: 5px;
        @include main-box-shadow;
        font-size: 12px;
      }
    }

    &__summary {
      padding-top: 10px;

      &__restrictions {
        padding-top: 5px;
        border-top: 1px solid $inactive-gray;

        button {
          padding: 0;
          border: none;
          background-color: rgba(255, 255, 255, 0);
          text-align: left;
          transition: 0.2s;

          &:hover {
            color: $main-color;
          }
        }
      }
      &__ratings {
        padding-top: 5px;
        border-top: 1px solid $inactive-gray;

        &-tmdb-link,
        &-imdb-link {
          color: #000;
          text-decoration: none;
          transition: 0.2s;

          &:visited {
            text-decoration: none;
          }

          &:hover {
            color: $main-color;
          }
        }
      }
    }

    &__kodi-nfo {
      padding: 5px 0;
      border-top: 1px solid $inactive-gray;

      &__header {
        color: $note-gray;
        font-size: 12px;
      }
    }
  }

  &__kodi-nfo-component {
    display: none;
  }

  &__info {
    width: 100%;
    padding: 20px 20px 10px 20px;

    flex-grow: 1;

    overflow: hidden;

    &__title-container {
      margin-bottom: 16px;
      border-bottom: 1px solid $inactive-gray;
    }

    &__tagline {
      padding-bottom: 11px;
    }

    &__original-title {
      color: $note-gray;
    }

    &__overview {
      padding-bottom: 11px;

      position: relative;

      .video-details__info__overview__btn--translate {
        min-width: 40px;
        padding: 0;
        margin: 0 0 5px 3px;

        position: absolute;
        right: -10px;
        bottom: -20px;
      }
    }

    &__crew-container {
      width: 100%;

      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
    }

    &__crew {
      flex-grow: 0;
      margin-bottom: 16px;

      &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;

        &__item {
          margin: 0 10px 5px 0;
        }
      }

      &__member {
        width: 94px;
        height: 100%;

        display: flex;
        flex-direction: column;
        overflow: hidden;

        border-radius: 5px;

        &__photo {
          width: 94px;
          height: 141px;
          padding: 0;
          margin: 0 0 10px 0;
          overflow: hidden;
          border-radius: 5px;
          display: block;
          img {
            height: 141px;
            font-size: 12px;
          }
        }

        &__details {
          padding-right: 4px;
        }
      }
    }
  }

  &__info__homepage {
    a {
      color: #000;
      text-decoration: none;

      &:visited {
        text-decoration: none;
      }
    }
  }

  &__other-videos {
    width: 100%;
    margin-bottom: 16px;

    &__list {
      display: flex;
      justify-content: flex-start;
      overflow-x: scroll;

      //scrollbar start
      &::-webkit-scrollbar {
        height: 5px;

        &-thumb {
          background: #ddd;
          border-radius: 5px;

          &:hover {
            background: $main-color;
          }
        }

        &-track {
          background: rgba(255, 255, 255, 0);
          border-radius: 5px;
          box-shadow: inset 7px 10px 12px rgba(255, 255, 255, 0);
        }
      }

      scrollbar-color: #ddd rgba(255, 255, 255, 0);
      scrollbar-width: thin;

      &:hover {
        &::-webkit-scrollbar {
          &-thumb {
            background: $main-color;
          }
        }
        scrollbar-color: $main-color rgba(255, 255, 255, 0);
      }
      //scrollbar end

      &__item {
        padding-bottom: 10px;
        margin-right: 10px;

        &:hover {
          .result-link {
            &__details {
              background-color: #3f51b5;
              &__title,
              &__date {
                color: #fff;
              }
            }
          }
        }

        a {
          color: #000;
          text-decoration: none;

          &:visited {
            text-decoration: none;
          }
        }

        .result-link {
          width: $poster-width-130;
          &__img {
            height: $poster-height-130;
            img {
              width: $poster-width-130;
            }
          }

          &__details {
            background-color: #fff;
            &__title {
              font-size: 14px;
            }
          }
        }
      }
    }
  }

  &__btn--back {
    margin-top: 40px;
  }
}

@media (max-width: 767px) {
  .video-details {
    &__header {
      flex-basis: 170px;
      padding-right: 0;

      &__poster {
        width: $poster-width;
        height: $poster-height;
        img {
          width: $poster-width;
        }
      }
    }
  }
}

@media (max-width: 533px) {
  .video-details {
    flex-wrap: wrap;
    &__header {
      flex-basis: 100%;
      padding: 10px;
      margin-bottom: 0;

      display: flex;

      &__poster {
        margin-right: 10px;
        margin-bottom: 0;

        order: 0;
      }

      &__summary {
        padding: 0;
      }

      &__kodi-nfo-component {
        display: none;
      }
    }

    &__kodi-nfo-component {
      display: block;
      width: 100%;
      overflow: hidden;
    }

    &__kodi-nfo {
      padding: 0;
      margin: 11px 0 8px 0;
      border-top: none;

      &__header {
        color: $main-color;
        font-size: 14px;
      }
    }

    &__info {
      padding: 10px;

      &__overview {
        .video-details__info__overview__btn--translate {
          right: 0;
        }
      }
    }
  }
}

@media (max-width: 419px) {
  .video-details {
    &__header {
      &__poster {
        width: $poster-width-130;
        height: $poster-height-130;

        flex-shrink: 0;
        order: 0;
        img {
          width: $poster-width-130;
        }
      }
    }
  }
}
