<article class="video-details">
  <aside class="video-details__header">
    <figure *ngIf="details?.poster_path" class="video-details__header__poster">
      <button
        class="video-details__header__poster__btn--enlarge"
        (click)="enlargePicture(urlImg600 + details?.poster_path)"
      >
        <img
          src="{{ posterPath + details?.poster_path }}"
          alt="Plakat {{ details?.title ? details?.title : details?.name }}"
        />
      </button>
    </figure>

    <section class="video-details__header__summary">
      <p
        *ngIf="details?.release_date; else showDate"
        class="video-details__header__summary__date mat-body custom"
      >
        {{ details?.release_date.slice(0, 4) }}
      </p>
      <ng-template #showDate>
        <p
          *ngIf="details?.first_air_date"
          class="video-details__header__summary__date mat-body custom"
        >
          {{ details.first_air_date.slice(0, 4) }}
        </p>
      </ng-template>
      <p
        *ngIf="details?.runtime"
        class="video-details__header__summary__runtime mat-body custom"
      >
        {{ details.runtime | minutesToHours }}
      </p>

      <p
        *ngIf="details?.genres?.length > 0"
        class="video-details__header__summary__genres mat-body custom"
      >
        <ng-container *ngFor="let genre of details.genres; let last = last">
          <span *ngIf="!last">{{ genre.name }}, </span>
          <span *ngIf="last">{{ genre.name }}</span></ng-container
        >
      </p>
      <div
        *ngIf="certifications.length > 0"
        class="video-details__header__summary__restrictions mat-body custom"
      >
        <p class="mat-body custom">
          <span class="gray mat-caption">ograniczenia wiekowe:</span>
        </p>
        <button (click)="dialogOn()">
          <p class="mat-body custom">
            <ng-container
              *ngFor="let certification of certifications; let last = last"
            >
              <span *ngIf="!last"
                >{{ certification.certification }}
                <span class="gray mat-caption">
                  {{ certification.country }} |
                </span>
              </span>
              <span *ngIf="last"
                >{{ certification.certification }}
                <span class="gray mat-caption">
                  {{ certification.country }}</span
                ></span
              >
            </ng-container>
          </p>
        </button>
      </div>
      <div
        *ngIf="details?.vote_average || imdbData?.imdbRating"
        class="video-details__header__summary__ratings"
      >
        <p class="mat-body custom">
          <span class="gray mat-caption">oceny:</span>
        </p>
        <a
          class="video-details__header__summary__ratings-tmdb-link"
          href="https://www.themoviedb.org/movie/{{ details?.id }}"
          rel="noopener"
          target="_blank"
          matTooltip="otwiera w nowym oknie link do filmu na stronie TMDB"
        >
          <p
            *ngIf="details?.vote_average"
            class="video-details__header__summary__ratings-tmdb mat-body custom"
          >
            {{ details.vote_average.toFixed(1)
            }}<span class="gray mat-caption">{{
              " /10 | TMDb | " +
                (details.vote_count | number: "1.0-0":"pl") +
                " głosów"
            }}</span>
          </p>
        </a>
        <a
          class="video-details__header__summary__ratings-imdb-link"
          href="https://www.imdb.com/title/{{
            details?.external_ids?.imdb_id
          }}/"
          rel="noopener"
          target="_blank"
          matTooltip="otwiera w nowym oknie link do filmu na stronie IMDb"
        >
          <p
            class="video-details__header__summary__ratings-imdb mat-body custom"
            *ngIf="imdbData?.imdbRating"
          >
            {{ imdbData?.imdbRating.toFixed(1)
            }}<span class="gray mat-caption">{{
              " /10 | IMDb | " +
                (imdbData?.imdbVotes | number: "1.0-0":"pl") +
                " głosów"
            }}</span>
          </p>
        </a>
      </div>
    </section>
    <app-kodi-nfo
      class="video-details__header__kodi-nfo-component"
      [details]="details"
      [overviewEn]="detailsEn?.overview"
      [overviewTranslated]="overviewTranslated"
      [screenwriters]="screenwriters"
      [directors]="directors"
      [seasons]="seasons"
      [actors]="actors"
      [certifications]="certifications"
      [imdbRating]="imdbData?.imdbRating"
      [imdbVotes]="imdbData?.imdbVotes"
      [statusTranslated]="statusTranslated"
    ></app-kodi-nfo>
  </aside>

  <app-kodi-nfo
    class="video-details__kodi-nfo-component"
    [details]="details"
    [overviewEn]="detailsEn?.overview"
    [overviewTranslated]="overviewTranslated"
    [screenwriters]="screenwriters"
    [directors]="directors"
    [seasons]="seasons"
    [actors]="actors"
    [certifications]="certifications"
    [imdbRating]="imdbData?.imdbRating"
    [imdbVotes]="imdbData?.imdbVotes"
    [statusTranslated]="statusTranslated"
  ></app-kodi-nfo>

  <section class="video-details__info">
    <div class="video-details__info__title-container">
      <ng-container *ngIf="details?.title; else showNames">
        <h1 class="video-details__info__title mat-h1 custom">
          {{ details.title }}
        </h1>
        <p
          class="video-details__info__original-title mat-h4 custom"
          *ngIf="
            details.original_title &&
            details.original_title.toLowerCase() !== details.title.toLowerCase()
          "
        >
          {{ details.original_title }}
        </p>
      </ng-container>
      <ng-template #showNames>
        <h1 class="video-details__info__title mat-h1 custom">
          {{ details?.name }}
        </h1>
        <p
          class="video-details__info__original-title mat-h4 custom"
          *ngIf="
            details?.original_name &&
            details?.original_name.toLowerCase() !== details?.name.toLowerCase()
          "
        >
          {{ details.original_name }}
        </p>
      </ng-template>
    </div>
    <p
      class="video-details__info__tagline mat-body custom"
      *ngIf="details?.tagline"
    >
      {{ details.tagline }}
    </p>
    <p
      class="video-details__info__overview mat-body custom"
      *ngIf="details?.overview || detailsEn?.overview"
    >
      {{ details.overview ? details.overview : detailsEn?.overview }}
      <button
        *ngIf="!details.overview && detailsEn?.overview && translateBtn"
        mat-mini-fab
        color="primary"
        class="video-details__info__overview__btn--translate"
        matTooltip="tłumacz na polski z google translate"
        aria-label="translate to Polish with google translate"
        (click)="translate()"
      >
        <mat-icon>g_translate</mat-icon>
      </button>
    </p>

    <p
      class="video-details__info__countries mat-body custom"
      *ngIf="details?.production_countries?.length > 0"
    >
      <span class="gray mat-body">produkcja:</span>
      <ng-container
        *ngFor="let country of details.production_countries; let last = last"
      >
        <span *ngIf="!last">{{ country.name }}, </span>
        <span *ngIf="last">{{ country.name }}</span>
      </ng-container>
    </p>
    <p
      class="video-details__info__seasons mat-body custom"
      *ngIf="details?.number_of_seasons"
    >
      <span class="gray mat-body">sezony:</span>
      {{ details?.number_of_seasons }}
    </p>
    <p
      class="video-details__info__episodes mat-body custom"
      *ngIf="details?.number_of_episodes"
    >
      <span class="gray mat-body">odcinki:</span>
      {{ details.number_of_episodes }}
    </p>

    <p
      class="video-details__info__release mat-body custom"
      *ngIf="details?.first_air_date"
    >
      <span class="gray mat-body">pierwszy odcinek:</span>
      {{ details.first_air_date }}
    </p>

    <p
      class="video-details__info__release mat-body custom"
      *ngIf="details?.release_date"
    >
      <span class="gray mat-body">premiera:</span>
      {{ details.release_date }}
    </p>

    <p
      class="video-details__info__last-episode mat-body custom"
      *ngIf="details?.last_air_date"
    >
      <span class="gray mat-body">ostatnia emisja:</span>
      {{ details.last_air_date }}
    </p>

    <p
      class="video-details__info__next-episode mat-body custom"
      *ngIf="details?.next_episode_to_air"
    >
      <span class="gray mat-body">następny odcinek:</span>
      {{ details.next_episode_to_air.air_date }}
    </p>

    <app-person-panel
      [sourceArray]="actors"
      [title]="'obsada: '"
      [photoPath]="profilePath"
      [routeUrl]="'/person'"
      [imgWidth]="'94px'"
      [imgHeight]="'141px'"
      [numberOfItems]="8"
    ></app-person-panel>

    <div class="video-details__info__crew-container">
      <section
        class="video-details__info__crew"
        *ngIf="details?.created_by && details?.created_by.length > 0"
      >
        <p class="video-details__info__crew__header mat-body custom">
          <span class="gray mat-body">twórcy:</span>
        </p>
        <ul class="video-details__info__crew__list">
          <li
            class="video-details__info__crew__list__item"
            *ngFor="let creator of details.created_by"
          >
            <article class="video-details__info__crew__member">
              <figure class="video-details__info__crew__member__photo">
                <img
                  src="{{
                    creator?.profile_path
                      ? profilePath + creator.profile_path
                      : defaultProfilePath
                  }}"
                  alt="Photo of {{ creator.name }}"
                />
              </figure>

              <section class="video-details__info__crew__member__details">
                <p
                  class="video-details__info__crew__member__details__name mat-body custom"
                >
                  {{ creator.name }}
                </p>
              </section>
            </article>
          </li>
        </ul>
      </section>
      <section
        class="video-details__info__crew"
        *ngIf="screenwriters.length > 0"
      >
        <p class="video-details__info__crew__header mat-body custom">
          <span class="gray mat-body">scenariusz:</span>
        </p>
        <ul class="video-details__info__crew__list">
          <li
            class="video-details__info__crew__list__item"
            *ngFor="let screenwriter of screenwriters"
          >
            <article class="video-details__info__crew__member">
              <figure class="video-details__info__crew__member__photo">
                <img
                  src="{{
                    screenwriter?.profile_path
                      ? profilePath + screenwriter.profile_path
                      : defaultProfilePath
                  }}"
                  alt="Photo of {{ screenwriter.name }}"
                />
              </figure>

              <section class="video-details__info__crew__member__details">
                <p
                  class="video-details__info__crew__member__details__name mat-body custom"
                >
                  {{ screenwriter.name }}
                </p>
              </section>
            </article>
          </li>
        </ul>
      </section>

      <section class="video-details__info__crew" *ngIf="directors.length > 0">
        <p class="video-details__info__crew__header mat-body custom">
          <span class="gray mat-body">reżyseria:</span>
        </p>
        <ul class="video-details__info__crew__list">
          <li
            class="video-details__info__crew__list__item"
            *ngFor="let director of directors"
          >
            <article class="video-details__info__crew__member">
              <figure class="video-details__info__crew__member__photo">
                <img
                  src="{{
                    director?.profile_path
                      ? profilePath + director.profile_path
                      : defaultProfilePath
                  }}"
                  alt="Photo of {{ director.name }}"
                />
              </figure>

              <section class="video-details__info__crew__member__details">
                <p
                  class="video-details__info__crew__member__details__name mat-body custom"
                >
                  {{ director.name }}
                </p>
              </section>
            </article>
          </li>
        </ul>
      </section>
    </div>
    <p
      class="video-details__info__networks mat-body custom"
      *ngIf="details?.networks && details?.networks?.length > 0"
    >
      <span class="gray mat-body">sieci tv/vod:</span>
      <ng-container *ngFor="let network of details.networks; let last = last">
        <span *ngIf="!last">{{ network.name }}, </span>
        <span *ngIf="last">{{ network.name }}</span>
      </ng-container>
    </p>

    <p
      class="video-details__info__studios mat-body custom"
      *ngIf="details?.production_companies?.length > 0"
    >
      <span class="gray mat-body">studia filmowe:</span>
      <ng-container
        *ngFor="let company of details.production_companies; let last = last"
      >
        <span *ngIf="!last">{{ company.name }}, </span>
        <span *ngIf="last">{{ company.name }}</span>
      </ng-container>
    </p>

    <section class="video-details__info__homepage" *ngIf="details?.homepage">
      <p class="mat-body custom">
        <span class="gray mat-body">oficjalna strona:</span>
        <a
          href="{{ details.homepage }}"
          target="_blank"
          matTooltip="otwiera w nowym oknie link {{ details.homepage }}"
          rel="noopener"
          >kliknij tutaj</a
        >
      </p>
    </section>
    <section
      class="video-details__info__homepage"
      *ngIf="details?.external_ids?.imdb_id"
    >
      <p class="mat-body custom">
        <span class="gray mat-body">strona na IMDb:</span>
        <a
          href="https://www.imdb.com/title/{{
            details?.external_ids?.imdb_id
          }}/"
          target="_blank"
          matTooltip="otwiera w nowym oknie link do filmu na stronie IMDb"
          rel="noopener"
          >kliknij tutaj</a
        >
      </p>
    </section>
    <p class="video-details__info__status mat-body custom">
      <span class="gray mat-body">status:</span>
      {{ details?.status ? statusTranslated : "brak danych" }}
    </p>
    <app-photo-panel
      [sourceArray]="posters"
      [photoType]="'posters'"
      [title]="'plakaty: '"
      [photoPath]="profilePath"
      [imgWidth]="'94px'"
      [imgHeight]="'141px'"
      [numberOfItems]="8"
      [altImgDescription]="
        'poster of ' + (details?.title ? details?.title : details?.name)
      "
      (enlarge)="enlargePicture(urlImg600 + $event)"
    ></app-photo-panel>

    <app-photo-panel
      [sourceArray]="backdrops"
      [photoType]="'backdrops'"
      [title]="'grafiki: '"
      [photoPath]="urlImgWide250"
      [imgWidth]="'250px'"
      [imgHeight]="'141px'"
      [numberOfItems]="3"
      [altImgDescription]="
        'backdrop image of ' + (details?.title ? details?.title : details?.name)
      "
      (enlarge)="enlargePicture(backdropPath + $event)"
    ></app-photo-panel>
    <section
      *ngIf="
        details?.recommendations?.results &&
        details?.recommendations?.results.length > 0
      "
      class="video-details__other-videos"
    >
      <p class="mat-body custom gray">polecane:</p>
      <ul class="video-details__other-videos__list" #list>
        <ng-container *ngIf="isMovie; else tvshows">
          <li
            class="video-details__other-videos__list__item"
            *ngFor="let movie of details.recommendations.results"
          >
            <a [routerLink]="['/movie', movie.id]">
              <app-result-link
                [imgsrc]="
                  movie.poster_path ? urlImg130 + movie.poster_path : ''
                "
                [title]="movie.title"
                [originalTitle]="movie.original_title"
                [overview]="movie.overview"
                [date]="movie.release_date"
              ></app-result-link>
            </a>
          </li>
        </ng-container>
        <ng-template #tvshows>
          <li
            class="video-details__other-videos__list__item"
            *ngFor="let show of details.recommendations.results"
          >
            <a [routerLink]="['/tv', show.id]">
              <app-result-link
                [imgsrc]="show.poster_path ? urlImg130 + show.poster_path : ''"
                [title]="show.name"
                [originalTitle]="show.original_name"
                [overview]="show.overview"
                [date]="show.first_air_date"
              ></app-result-link>
            </a>
          </li>
        </ng-template>
      </ul>
    </section>
    <button
      mat-mini-fab
      class="video-details__btn--back"
      color="primary"
      type="button"
      (click)="goBack()"
    >
      <mat-icon>arrow_back</mat-icon>
    </button>
  </section>
</article>
<app-full-size-picture
  *ngIf="showLargePicture"
  [path]="largePicturePath"
  [title]="details?.title ? details?.title : details?.name"
  (closeLargePicture)="closeLargePicture($event)"
></app-full-size-picture>
<app-full-size-dialog
  *ngIf="showDialog"
  [width]="'90vw'"
  [height]="'85vh'"
  (dialogOff)="dialogOff($event)"
  ><app-restrictions-content-dialog
    [isMovie]="isMovie"
  ></app-restrictions-content-dialog
></app-full-size-dialog>
