<article class="video-details">
  <header class="video-details__header">
    <figure class="video-details__header__poster">
      <img
        *ngIf="details?.poster_path"
        src="{{ posterPath + details?.poster_path }}"
        alt="Plakat"
      />
    </figure>
    <section class="video-details__header__summary">
      <ng-container *ngIf="details?.title; else showNames">
        <h1 class="video-details__header__summary__title">
          {{ details.title }}
        </h1>
        <p
          class="video-details__header__summary__original-title"
          *ngIf="
            details.original_title &&
            details.original_title.toLowerCase() !== details.title.toLowerCase()
          "
        >
          {{ details.original_title }}
        </p>
      </ng-container>
      <ng-template #showNames>
        <h1 class="video-details__header__summary__title">
          {{ details?.name }}
        </h1>
        <p>
          <span
            class="video-details__header__summary__original-title"
            *ngIf="
              details?.original_name &&
              details?.original_name.toLowerCase() !==
                details?.name.toLowerCase()
            "
            >{{ details.original_name }}</span
          >
        </p>
      </ng-template>
      <p>
        <span
          class="video-details__header__summary__date"
          *ngIf="details?.release_date; else showDate"
          ><mat-icon>calendar_today</mat-icon>
          {{ details?.release_date.slice(0, 4) }}</span
        >
        <ng-template #showDate>
          <span
            class="video-details__header__summary__date"
            *ngIf="details?.first_air_date"
            ><mat-icon>calendar_today</mat-icon>
            {{ details.first_air_date.slice(0, 4) }}</span
          >
        </ng-template>
        <span
          class="video-details__header__summary__runtime"
          *ngIf="details?.runtime"
          ><mat-icon>schedule</mat-icon>
          {{ details?.runtime ? details?.runtime + " min." : "brak danych" }}
        </span>
      </p>

      <p
        class="video-details__header__summary__restrictions"
        *ngIf="certifications.length > 0"
      >
        <mat-icon>family_restroom</mat-icon>
        <ng-container
          *ngFor="let certification of certifications; let last = last"
        >
          <span *ngIf="!last"
            >{{ certification.certification }}
            <span class="smaller"> -{{ certification.country }}</span> ,
          </span>
          <span *ngIf="last"
            >{{ certification.certification }}
            <span class="smaller"> -{{ certification.country }}</span></span
          ></ng-container
        >
      </p>

      <p
        class="video-details__header__summary__tmdb-rating"
        *ngIf="details?.vote_average"
      >
        <mat-icon>grade</mat-icon>
        <span class="smaller">TMDB:</span>
        {{ details.vote_average.toFixed(1)
        }}<span class="smaller">{{
          " /10 (" + details.vote_count + " głosów)"
        }}</span>
      </p>

      <p class="video-details__header__summary__imdb-rating" *ngIf="imdbRating">
        <mat-icon>grade</mat-icon>
        <span class="smaller">IMDB:</span>
        {{ imdbRating.toFixed(1)
        }}<span class="smaller">{{
          " /10 (" + imdbRatingCount + " głosów)"
        }}</span>
      </p>
    </section>
  </header>
  <section class="video-details__info">
    <p *ngIf="details?.tagline">{{ details.tagline }}</p>
    <p *ngIf="details?.overview || overviewEn">
      {{ details.overview ? details.overview : overviewEn }}

      <button
        *ngIf="!details.overview && overviewEn && buttonOn"
        (click)="translate()"
      >
        Tłumacz opis
      </button>
    </p>
    <p *ngIf="details?.genres?.length > 0">
      Gatunek:
      <ng-container *ngFor="let genre of details.genres; let last = last">
        <span *ngIf="!last">{{ genre.name }}, </span>
        <span *ngIf="last">{{ genre.name }}</span></ng-container
      >
    </p>

    <p *ngIf="details?.production_countries?.length > 0">
      Kraje:
      <ng-container
        *ngFor="let country of details.production_countries; let last = last"
      >
        <span *ngIf="!last">{{ country.name }}, </span>
        <span *ngIf="last">{{ country.name }}</span>
      </ng-container>
    </p>
    <p *ngIf="details?.number_of_seasons">
      Sezony:
      {{ details?.number_of_seasons }}
    </p>
    <p *ngIf="details?.number_of_episodes">
      Odcinki:
      {{ details.number_of_episodes }}
    </p>

    <p *ngIf="details?.first_air_date">
      Emisja pierwszego odcinka:
      {{ details.first_air_date }}
    </p>

    <p *ngIf="details?.release_date">
      Premiera:
      {{ details.release_date }}
    </p>

    <p *ngIf="details?.last_air_date">
      Emisja ostatniego odcinka:
      {{ details.last_air_date }}
    </p>

    <p *ngIf="details?.next_episode_to_air">
      Emisja następnego odcinka:
      {{ details.next_episode_to_air.air_date }}
    </p>

    <p>Status: {{ details?.status ? statusTranslated : "brak danych" }}</p>

    <p *ngIf="details?.created_by && details?.created_by.length > 0">
      Twórcy:
      <ng-container *ngFor="let creator of details.created_by; let last = last">
        <span *ngIf="!last">{{ creator.name }}, </span>
        <span *ngIf="last">{{ creator.name }}</span>
      </ng-container>
    </p>

    <p *ngIf="screenwriters?.length > 0">
      Scenariusz:
      <ng-container *ngFor="let screenwriter of screenwriters; let last = last">
        <span *ngIf="!last">{{ screenwriter.name }}, </span>
        <span *ngIf="last">{{ screenwriter.name }}</span>
      </ng-container>
    </p>
    <p *ngIf="directors?.length > 0">
      Reżyseria:
      <ng-container *ngFor="let director of directors; let last = last">
        <span *ngIf="!last">{{ director.name }}, </span>
        <span *ngIf="last">{{ director.name }}</span>
      </ng-container>
    </p>

    <p *ngIf="details?.networks && details?.networks?.length > 0">
      Sieci TV:
      <ng-container *ngFor="let network of details.networks; let last = last">
        <span *ngIf="!last">{{ network.name }}, </span>
        <span *ngIf="last">{{ network.name }}</span>
      </ng-container>
    </p>

    <p *ngIf="details?.production_companies?.length > 0">
      Studia filmowe:
      <ng-container
        *ngFor="let company of details.production_companies; let last = last"
      >
        <span *ngIf="!last">{{ company.name }}, </span>
        <span *ngIf="last">{{ company.name }}</span>
      </ng-container>
    </p>

    <a href="{{ details?.homepage }}" target="_blank"
      ><p>{{ details?.homepage }}</p></a
    >
  </section>
  <section class="video-details__actors">
    <ng-container *ngIf="actors.length > 0">
      <p class="video-details__actors__header">W rolach głównych:</p>
      <ng-container *ngFor="let actor of actors">
        <article class="video-details__actors__actor">
          <figure class="video-details__actors__actor__photo">
            <ng-container *ngIf="actor.profile_path">
              <img
                src="{{ actorPath + actor.profile_path }}"
                alt="Photo of {{ actor.name }}"
            /></ng-container>
          </figure>
          <p class="video-details__actors__actor__name">{{ actor.name }}</p>
          <p
            class="video-details__actors__actor__character"
            *ngIf="actor.character"
          >
            jako {{ actor.character }}
          </p>
        </article>
      </ng-container>
    </ng-container>
  </section>
  <app-kodi-nfo
    [details]="details"
    [overviewEn]="overviewEn"
    [overviewTranslated]="overviewTranslated"
    [screenwriters]="screenwriters"
    [directors]="directors"
    [seasons]="seasons"
    [actors]="actors"
    [certifications]="certifications"
    [imdbRating]="imdbRating"
    [imdbRatingCount]="imdbRatingCount"
    [statusTranslated]="statusTranslated"
  ></app-kodi-nfo>
  <button (click)="goToResults()">Cofnij do listy wyszukiwania</button>
</article>
