@import "src/reset";
@import "src/variables";
@import "src/mixins";

.video-details {
  max-width: 1200px;
  margin: 0 auto;

  &__header {
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
    margin-bottom: 20px;
    background-color: rgba(63, 81, 181, 0.8);
    @include main-box-shadow;

    &__poster {
      padding-left: 20px;
      margin-bottom: 20px;
    }

    &__summary {
      padding-left: 20px;
      color: #ddd;

      &__title {
        padding-bottom: 5px;
        font-size: 26px;
        font-weight: bold;
        letter-spacing: 2px;
      }

      &__original-title,
      &__date,
      &__runtime,
      &__restrictions,
      &__tmdb-rating,
      &__imdb-rating {
        padding-right: 15px;
        margin: 0;
        font-size: 18px;
        .smaller {
          font-size: 0.8em;
        }
        mat-icon {
          font-size: 0.9em;
        }
      }
    }
  }

  &__info {
    margin: 0 20px;
    font-size: 16px;
    line-height: 150%;
  }

  &__actors {
    margin: 0 20px;

    &__header {
      width: 100%;
    }

    &__list {
      display: flex;
      justify-content: flex-start;
      overflow-x: scroll;
      overflow-y: auto;

      &::-webkit-scrollbar {
        height: 8px;

        &-thumb {
          background: $inactive-gray;
          border-radius: 5px;

          &:hover {
            background: $main-color;
          }
        }

        &-track {
          background: fff;
          border-radius: 5px;
          box-shadow: inset 7px 10px 12px #ddd;
        }
      }

      &__item {
        margin: 5px;
        flex-shrink: 0;
      }
    }

    &__actor {
      width: 94px;
      height: 100%;

      display: flex;
      flex-direction: column;
      overflow: hidden;

      border-radius: 5px;

      &__photo {
        height: 141px;
        padding: 0;
        margin: 0 0 10px 0;
        display: block;
        img {
          height: 141px;
        }
      }

      &__details {
        padding: 0 4px;
        &__name {
          font-size: 16px;
        }
        &__character {
          font-size: 0.9em;
        }
      }
    }
  }
}
