<article class="page-not-found">
  <p>Houston, mamy problem ...</p>
  <p>Nie mogę znaleźć takiej strony ...</p>
  <p><mat-icon>warning_amber</mat-icon></p>

  <section
    class="page-not-found__error-details"
    *ngIf="serverStatus || apiStatus || apiMessage"
  >
    <div *ngIf="apiStatus" class="page-not-found__message-container">
      <p class="mat-body custom mat-caption gray">Kod błędu:</p>
      <p class="mat-body custom">{{ apiStatus }}</p>
    </div>
    <div *ngIf="serverStatus" class="page-not-found__message-container">
      <p class="mat-body custom mat-caption gray">Nr błędu:</p>
      <p class="mat-body custom">{{ serverStatus }}</p>
    </div>
    <div *ngIf="apiMessage" class="page-not-found__message-container">
      <p class="mat-body custom mat-caption gray">Opis błędu:</p>
      <p class="mat-body custom">{{ apiMessage }}</p>
    </div>
  </section>
</article>
