@import "src/variables";
@import "src/mixins";

.results {
  max-width: 1200px;

  margin: 20px auto;

  overflow: hidden;

  &__header {
    padding-bottom: 10px;
    color: $main-color;
    text-align: center;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(170px, auto));
    justify-items: center;
    align-items: start;

    &__item {
      padding: 10px;
      height: 100%;

      &:hover {
        .result-link {
          &__details {
            background-color: #3f51b5;
            &__title,
            &__date {
              color: #fff;
            }
          }
        }
      }

      a {
        color: #000;
        text-decoration: none;

        &:visited {
          text-decoration: none;
        }

        &:focus-within {
          .result-link {
            &__details {
              background-color: #3f51b5;
              &__title,
              &__date {
                color: #fff;
              }
            }
          }
        }
      }
    }
  }

  &__paginator {
    max-width: 350px;
    padding-right: 25px;
    margin: 40px auto 0 auto;
    background-color: rgba(255, 255, 255, 0);
  }
}

@media (max-width: 424px) {
  .results {
    &__paginator {
      margin: 40px auto 40px auto;
    }
  }
}

@media (max-width: 320px) {
  .results {
    &__list {
      grid-template-columns: repeat(auto-fill, minmax(140px, auto));
    }
  }
}
