<section class="video-details__nfo-maker">
  <h2>--- KODI NFO Maker ---</h2>
  <ng-container>
    <button (click)="showKodiNfo()">Wygeneruj plik do Kodi</button>
  </ng-container>
  <ng-container *ngIf="kodiNfo">
    <textarea
      class="video-details__nfo-maker__textarea"
      cdkTextareaAutosize
      [value]="kodiNfo"
      readonly
      wrap
    ></textarea>
    <button (click)="saveNfoFile()">Zapisz plik NFO dla Kodi</button>
    <button [cdkCopyToClipboard]="kodiNfo">Kopiuj zawartość do schowka</button>
  </ng-container>
</section>
