<article class="person-details">
  <aside class="person-details__header">
    <figure class="person-details__header__poster">
      <button
        class="person-details__header__poster__btn--enlarge"
        (click)="
          enlargePicture(
            details?.profile_path
              ? urlImg600 + details?.profile_path
              : 'assets/img/cast600.jpg'
          )
        "
        aria-label="enlarge image"
      >
        <img
          src="{{
            details?.profile_path
              ? posterPath + details?.profile_path
              : 'assets/img/cast220.jpg'
          }}"
          alt="Zdjęcie {{ details?.name }}"
        />
      </button>
    </figure>

    <section class="person-details__header__summary">
      <ng-container *ngIf="details?.birthday">
        <p
          class="person-details__header__summary__birthday--gray mat-body custom gray"
        >
          data urodzenia:
        </p>
        <p class="person-details__header__summary__birthday mat-body custom">
          {{ details.birthday }}
        </p></ng-container
      >

      <ng-container *ngIf="details?.deathday">
        <p
          class="person-details__header__summary__deathday--gray mat-body custom gray"
        >
          data śmierci:
        </p>
        <p class="person-details__header__summary__deathday mat-body custom">
          {{ details.deathday }}
        </p>
      </ng-container>

      <ng-container>
        <p
          *ngIf="details?.place_of_birth"
          class="person-details__header__summary__place--gray mat-body custom gray"
        >
          miejsce urodzenia:
        </p>
        <p
          *ngIf="details?.place_of_birth"
          class="person-details__header__summary__place mat-body custom"
        >
          {{ details.place_of_birth }}
        </p>
      </ng-container>
    </section>
  </aside>

  <section class="person-details__info">
    <h1 *ngIf="details?.name" class="person-details__info__name mat-h1 custom">
      {{ details.name }}
    </h1>

    <p
      class="person-details__info__biography mat-body custom"
      *ngIf="details?.biography || detailsEn?.biography"
    >
      {{ details.biography ? details.biography : detailsEn?.biography }}
      <button
        *ngIf="!details.biography && detailsEn.biography && translateBtn"
        mat-mini-fab
        color="primary"
        class="person-details__info__biography__btn--translate"
        matTooltip="tłumacz na polski z google translate"
        aria-label="translate to Polish with google translate"
        (click)="translate()"
      >
        <mat-icon>g_translate</mat-icon>
      </button>
    </p>
    <section class="person-details__info__homepage" *ngIf="details?.homepage">
      <p class="mat-body custom pb-11">
        <span class="main mat-body">oficjalna strona:</span>
        <a
          href="{{ details.homepage }}"
          target="_blank"
          matTooltip="otwiera w nowym oknie link {{ details.homepage }}"
          rel="noopener"
          >kliknij tutaj</a
        >
      </p>
    </section>

    <app-photo-panel
      [sourceArray]="photos"
      [photoType]="'photos'"
      [title]="'zdjęcia: '"
      [photoPath]="profilePath"
      [imgWidth]="'94px'"
      [imgHeight]="'141px'"
      [altImgDescription]="'photo of ' + details?.name"
      (enlarge)="enlargePicture(urlImg600 + $event)"
    ></app-photo-panel>

    <section
      class="person-details__info__videos"
      *ngIf="
        details?.combined_credits?.cast?.length > 0 ||
        details?.combined_credits?.crew?.length > 0
      "
    >
      <header class="person-details__info__videos__header">
        <p
          class="person-details__info__videos__header__title mat-body custom main"
        >
          {{ details?.gender === 1 ? "wystąpiła w:" : "wystąpił w:" }}
        </p>
        <div class="person-details__info__videos__header__dashboard">
          <select
            [(ngModel)]="selectedDepartment"
            class="person-details__info__videos__header__select"
            matTooltip="wybierz elementy listy"
            aria-label="select list items"
          >
            <option [value]="''">wybierz zawartość listy</option>
            <option [value]="'all'">pokaż wszystkie</option>
            <option
              class="person-details__info__videos__header__select__option"
              *ngFor="let department of videosList | keyvalue"
              [value]="department.key"
            >
              {{ translator.department(department.key) }}
            </option>
          </select>
          <div class="person-details__info__videos__header__toggle__container">
            <mat-checkbox
              class="person-details__info__videos__header__toggle person-details__info__videos__header__toggle--tv"
              color="primary"
              labelPosition="before"
              matTooltip="zaznacz jeśli lista ma zawierać filmy"
              aria-label="include movies"
              [(ngModel)]="checkedMovies"
              (change)="toggleVideos()"
            >
              <mat-icon>theaters</mat-icon>
            </mat-checkbox>
            <mat-checkbox
              class="person-details__info__videos__header__toggle person-details__info__videos__header__toggle--tv"
              color="primary"
              labelPosition="before"
              matTooltip="zaznacz jeśli lista ma zawierać seriale"
              aria-label="include tv shows"
              [(ngModel)]="checkedShows"
              (change)="toggleVideos()"
            >
              <mat-icon>tv</mat-icon>
            </mat-checkbox>
            <mat-checkbox
              class="person-details__info__videos__header__toggle person-details__info__videos__header__toggle--tv"
              color="primary"
              labelPosition="before"
              matTooltip="zaznacz jeśli lista ma byc sortowana od najnowszych"
              aria-label="sort from newest"
              [(ngModel)]="checkedDescend"
              (change)="toggleVideos()"
            >
              <mat-icon>sort</mat-icon>
            </mat-checkbox>
          </div>
        </div>
      </header>
      <h3
        *ngIf="selectedDepartment && selectedDepartment !== 'all'"
        class="person-details__info__videos__list__header"
      >
        {{ translator.department(selectedDepartment) }}
      </h3>
      <ul
        *ngIf="selectedDepartment && selectedDepartment !== 'all'"
        class="person-details__info__videos__list"
      >
        <li
          class="person-details__info__videos__list__item"
          *ngFor="let video of videosList[selectedDepartment]"
        >
          <a
            [routerLink]="
              video.media_type === 'movie'
                ? ['/movie', video.id]
                : ['/tv', video.id]
            "
            aria-label="read more about the production"
          >
            <article class="person-details__info__videos__video">
              <div class="person-details__info__videos__video__year">
                {{ video.release_date?.slice(0, 4) }}
              </div>
              <div
                class="person-details__info__videos__video__type mat-body custom gray"
              >
                {{ video.media_type === "movie" ? "film" : "tv" }}
              </div>
              <section class="person-details__info__videos__video__details">
                <div
                  class="person-details__info__videos__video__details__title"
                >
                  {{ video.title }}
                </div>

                <div
                  *ngIf="video.character"
                  class="person-details__info__videos__video__details__character mat-body custom gray"
                >
                  {{ video.character
                  }}{{
                    video.episode_count
                      ? " (" + video.episode_count + " odc.)"
                      : ""
                  }}
                </div>
              </section>
            </article>
          </a>
        </li>
      </ul>
      <ul
        *ngIf="selectedDepartment && selectedDepartment === 'all'"
        class="person-details__info__department__list"
      >
        <li
          class="person-details__info__department__list__item"
          *ngFor="let department of videosList | keyvalue"
        >
          <h3 class="person-details__info__videos__list__header">
            {{ translator.department(department.key) }}
          </h3>
          <ul class="person-details__info__videos__list">
            <li
              class="person-details__info__videos__list__item"
              *ngFor="let video of department.value"
            >
              <a
                [routerLink]="
                  video.media_type === 'movie'
                    ? ['/movie', video.id]
                    : ['/tv', video.id]
                "
                aria-label="read more about the production"
              >
                <article class="person-details__info__videos__video">
                  <div class="person-details__info__videos__video__year">
                    {{ video.release_date?.slice(0, 4) }}
                  </div>
                  <div
                    class="person-details__info__videos__video__type mat-body custom gray"
                  >
                    {{ video.media_type === "movie" ? "film" : "tv" }}
                  </div>
                  <section class="person-details__info__videos__video__details">
                    <div
                      class="person-details__info__videos__video__details__title"
                    >
                      {{ video.title }}
                    </div>

                    <div
                      *ngIf="video.character"
                      class="person-details__info__videos__video__details__character mat-body custom gray"
                    >
                      {{ video.character
                      }}{{
                        video.episode_count
                          ? " (" + video.episode_count + " odc.)"
                          : ""
                      }}
                    </div>
                  </section>
                </article>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </section>

    <button
      mat-mini-fab
      class="person-details__btn--back"
      color="primary"
      type="button"
      matTooltip="wróć do poprzedniej strony"
      aria-label="go back"
      (click)="goBack()"
    >
      <mat-icon>arrow_back</mat-icon>
    </button>
  </section>
</article>
<app-full-size-picture
  *ngIf="showLargePicture"
  [path]="largePicturePath"
  [title]="details?.name ? details?.name : ''"
  (closeLargePicture)="closeLargePicture($event)"
></app-full-size-picture>
