$main-color: #3f51b5;
$inactive-gray: #aaa;
$note-gray: #555;

$poster-width: 150px;
$poster-height: $poster-width * 1.5;
$poster-width-130: 130px;
$poster-height-130: $poster-width-130 * 1.5;
$poster-width-220: 220px;
$poster-height-220: $poster-width-220 * 1.5;
